/* Estilo para el cuerpo de la página */
body {
    
    margin: 0;
    padding: 0;
    
}

header{
    backdrop-filter: blur(5px);
    background-color: rgba(57, 135, 140, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 3;
}

/* Estilo para la barra de navegación */
.navbar {
    color: #fff;
    padding: 10px;
    padding-right: 3%;
}


.logo {
    width: 190px;
    height: auto;
    margin-left: 5%;
    
}

.openmenu,
.closemenu{
    display: none;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    gap:2rem;
    padding-top: 5%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;


}

.menu li {
    margin-right: 20px;
}



.menu li a {
    
    text-decoration: none;
    color: #fff;
    transition: color 0.7s, text-decoration 0.7s; /* Transición suave de color y subrayado */
    font-weight:500;
    
}

.menu a:hover {
    color: #1D2E50; /* Cambia el color al hacer hover */
    text-decoration: underline; /* Añade un subrayado al hacer hover */
}

/* Estilo para la imagen de fondo */
.background-image {
    background-image: url('Fondos/fondo\ 1.png');
    background-size:cover;
    
    height: 400px;
}

/* Estilo para el título */
.title {
    background-color: #f5f5f5;
    text-align: left;
    padding-left: 5%;
}


/* Estilo para el contenedor de la imagen de fondo */
/* Estilo para el contenedor de la imagen de fondo */
.title-image {
    background-image: url("/Separador/rect2test.png");
    background-size: cover;
    background-position: center;
    width: 330px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; 
    box-shadow: 0px 5px  5px rgba(0, 0, 0, 0.3)
}

/* Estilo para el título */
.title {
    position: relative; 
}

.title h1 {
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    z-index: 0;
}




.parrafo {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}



/* Estilo para las tarjetas */
.cards {
    display: flex;
    margin: 0;
    width: 100%;
}

.card1, .card2 {
    background-color: #399DD7;
    padding: 5%;
    text-align: center;
    width: 50%; /* Cada tarjeta ocupa el 50% del ancho */
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
}

.card2{
    background-color: #1A90D4;
}

.card3{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border-radius: 5px;
    box-shadow:  5px  5px 10px rgba(0, 0, 0, 0.3)
}

.card3-p{
    /* Buscar el éxito para nuestros clientes. Garantizamos la confidencialidad de cada relación. */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #399DD7;
    padding-left: 3%;
    text-align: left;
    height: 100%;


}

.card5-p{
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #399DD7;
    padding-left: 3%;
    text-align: left;
    height: 100%;
}

.card4-p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #399DD7;
padding-left: 3%;
text-align: left;
height: 100%;
}



.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-content: center;
  }
  
  .item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: -1px;
    background-color: #0B6AA0;
  }
  
  .content {
     padding-top: 20px;
     padding-left: 10%;
    display: flex;
    align-items: center;
    background-color: #0B6AA0;
    
   
  }
  .list li{
    padding:10px;
    
  }
  .list{
padding-left: 10%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;


color: #FFFFFF;


  }
  
  i {
    margin-right: 10px; /* Agrega espacio entre el icono y el título */
  }
  
  h3 {
margin: 0;
color: white;
display: flex; /* Permite que el título y el icono se alineen horizontalmente */
align-items: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #FFFFFF;
}
.logos-card6{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.check{
    width: 20px;
    height: 20px;
}
  
  
  ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  li {
    display: flex;
    align-items: center;
  }
  
  i {
    margin-right: 5px;
  }

.separador-1{
    width: 50%;
    height: 12%;
    margin-left: -3%;
    padding-top: 5%;

}

.separador-2{
    width: 50%;
    height: 12%;
    margin-left: -3%;
    

}

.card img {
    width: 90px;
    height: auto;
}

.logos1, .logos2 {
    width: 80px;
    height: 80px;
}



/* Estilo para el pie de página */
footer {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.footer-left img,
.footer-right img {
    width: 80px;
    height: auto;
}

.footertext {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #0B477E;
}

.footer-left{
    margin-left: 5%;
}

.footer-right{
    margin-right: 5%;
}


.logofoot{
    padding-left: 35%;
    width: 100%;
}




@media screen and (max-width: 780px) {
    .openmenu,
    .closemenu{
        display: block;
        background: transparent;
        border:none;
        z-index: 0;
        font-size: 1.5rem;
        color: #FFFFFF;
        

    }
    
    .openmenu:hover,
    .closemenu:hover{
        color:#000000;
        transition: color 1s ease;
        cursor: pointer;
    }



    .navbar{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top:0;
        right: 0;
        background-color: rgba(57, 135, 140, 0.9);
        box-shadow: 0 0 0 100vmax rgba (0,0,0, .5);
    }

    .navbar.visible{
        opacity: 1;
        visibility:visible;
    }
    
    .menu{
        flex-direction: column;
        align-items: end;
        padding-top: 5%;
        padding-right: 5%;
    }
    
    .menu lu{
        text-align: center;
    }

    .logo{
        width: 130px;
        height: 80px;
    }

    .title h1{
        font-size:25px;
        
    }
    

    .title-image{
        max-width: 200px;
    }

    .cards{
        
        flex-direction: column;
    }

    .card1, .card2 {
        background-color: #399DD7;
        padding: 5%;
        text-align: center;
        
        width: 100%; /* Cada tarjeta ocupa el 50% del ancho */
        box-sizing: border-box; /* Evita que el padding afecte el ancho total */
    }

    .card2{
        background-color: #1A90D4;
    }

    .card3{
        padding-right: 2%;
    }

    .container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        justify-content: center;
      }

      .list{
        padding-left: 10%;
      }

      .content{
        padding-left: 10%;
      }
}