@media screen and (max-width: 1024px )   {

 header{
height: 100px;
 }

 img.logo{
    width: 200px;
    height: 200px;
 }

    .openmenu,
    .closemenu{
        display: block;
        background: transparent;
        border:none;
        z-index: 0;
        font-size: 3rem;
        color: #FFFFFF;
        

    }
    
    .closemenu{
        font-size: 2rem;
    }

    .openmenu:hover,
    .closemenu:hover{
        color:#000000;
        transition: color 1s ease;
        cursor: pointer;
    }



    .navbar{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top:0;
        right: 0;
        background-color: rgba(57, 135, 140, 0.9);
        box-shadow: 0 0 0 100vmax rgba (0,0,0, .5);
    }

    .navbar.visible{
        opacity: 1;
        visibility:visible;
    }
    
    .menu{
        flex-direction: column;
        align-items: end;
        padding-top: 5%;
        padding-right: 5%;
    }
    
    .menu lu{
        text-align: center;
    }

    .logo{
        width: 130px;
        height: 80px;
    }

    .title h1{
        font-size:30px;
        
    }
    

    .title-image{
        max-width: 250px;
    }

    .cards{
        
        flex-direction: column;
    }

    .card1, .card2 {
        
        background-color: #399DD7;
        padding: 5%;
        text-align: center;
        
        width: 100%; /* Cada tarjeta ocupa el 50% del ancho */
        box-sizing: border-box; /* Evita que el padding afecte el ancho total */
    }
     
    .parrafo{
        padding-bottom: 25px;
        
    }

    .card2{
        background-color: #1A90D4;
    }

    .card3{
        margin-left: 15%;
        padding-right: 2%;
        width: 70%;
    }

    .container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        justify-content: center;
      }

      .list{
        padding-left: 30%;
      }

      .content{
        padding-left: 30%;
      }
      
      
      
      }
